{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap %}
{% load static %}
{% block css %}
<style>
	.modalf {
		padding-top: 129px;
		display: block;
		padding-right: 15px;
	}
    .bag-table1 tbody tr td {
        padding: 3px !important;
    }

    .bag-table1 thead tr th:nth-child(1) {
      width: 3% !important;
    }

    .bag-table1 thead tr th:nth-child(2) {
      width: 7% !important;
    }

    .bag-table1 thead tr th:nth-child(3) {
      width: 3% !important;
    }

    .bag-table1 thead tr th:nth-child(4) {
      width: 40% !important;
    }
    .bag-table1 thead tr th:nth-child(5) {
      width: 10% !important;
    }
    .bag-table1 thead tr th:nth-child(6) {
      width: 4% !important;
    }
    .bag-table1 thead tr th:nth-child(7) {
      width: 4% !important;
    }

    .bag-table thead tr th:nth-child(5) {
      width: 50% !important;
    }
    .bag-table thead tr th:nth-child(6) {
      width: 10% !important;
    }
    .bag-table thead tr th:nth-child(7) {
        width: 9% !important;
    }
    .this_edit {
        background-color: red;
    }
</style>
{% endblock %}
{% block content %}
<div id="Invoice" >
    <div id="before-load" v-if="loading">
        <i class="fa fa-spinner fa-spin"></i>
    </div>
    <nav aria-label="breadcrumb" class="bread-nav">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'home:index' %}">{% trans 'Рабочий стол' %}</a>
          </li>
          <li class="breadcrumb-item" aria-current="page">
              <a href="{% url 'schol_library:hl_invoices' %}">{% trans 'Накладные' %}</a>
          </li>
          <li class="breadcrumb-item" :class="{active: !statusInvoice}" aria-current="page">
              <a href="{% url 'schol_library:hl_paper_invoice' %}">{% trans 'Акт на списание' %}</a>
          </li>
          <li class="breadcrumb-item" :class="{active: statusInvoice}" aria-current="page" v-if="statusInvoice">
              {% trans 'Акт на списание №' %}{(invoice.idx)}
          </li>
        </ol>
    </nav>
    <div class="container-fluid">
        <!--Создание и редактирование накладной-->
        <div class="row pt-2" v-if="createI">
            <div class="col-12 pb-2">
                 <button
                    type="button"
                    data-hover="tooltip"
                    data-placement="bottom"
                    title="{% trans 'Назад' %}"
                    class="btn_adds btn-fcon"
                    v-if="!loading"
                    @click="Clear()"
                  >
                    <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
                  </button>

            </div>
             <div class="col-3 pt-3 text-left">
                 <h5>{% trans 'Акт на списание № ' %}</h5>
             </div>
             <div class="col-5 pt-3 text-left">
                 <input type="text" class="form-control" v-model="formCreate.idx">
             </div>
             <div class="col-1 pt-3 text-center">
                 <h5> {% trans 'от' %}</h5>
             </div>
             <div class="col-3 pt-3 text-left">

                  <vuejs-datepicker
                          :input-class="formStyle"
                          :disabled-dates="disabledDates"
                          :format="customFormatter"
                          :value="formCreate.date_write"
                          v-model="formCreate.date_write"
                          name="uniquename"
                          :language="ru"
                          >
                  </vuejs-datepicker>
             </div>

            <div class="col-3 pt-3 text-left">
                 <h5>{% trans 'Организация:' %}</h5>
            </div>
            <div class="col-5 pt-3 text-left">
                 {% if request.user.libraryuser.school %} {{ request.user.libraryuser.school.name }} {% else %} {% trans 'Не найдено место работы' %} {% endif %}
            </div>

            <div class="col-12 pt-3 text-left">
                {{ request.user.libraryuser.all_editions }}
                <!---->
            </div>

            <div class="col-3 pt-3 text-left">
                 <h5>{% trans 'Основание:' %}</h5>
            </div>
            <div class="col-9 pt-3 text-left">
                <textarea type="text" class="form-control" v-model="formCreate.footing"></textarea>
            </div>

            <div class="col-3 pt-3 text-left">
                 <h5>{% trans 'Члены комиссии:' %}</h5>
            </div>
            <div class="col-6 pt-3 text-left">
                <textarea type="text" class="form-control" v-model="formCreate.members_of_commission"></textarea>
            </div>


            <div class="col-12 pt-2"
                 v-if="formCreate.date_write && formCreate.idx && formCreate.footing && formCreate.members_of_commission">
                <button
                    class="btn_adds btn-fcon"
                    data-hover="tooltip"
                    data-placement="bottom"
                    title="{% trans 'Завершается'%}"
                    v-if="loading"
                >
                    <i class="fa fa-circle-o-notch fa-spin"></i>
                </button>
                <button v-else @click="createInvoice" class="btn_create col-md-3">{% trans 'Создать' %}</button>
            </div>
        </div>
        <div class="row" v-else>
            <div class="col-12 pt-10" v-if="!statusInvoice">
                <h1>{% trans 'Акты на списание' %}</h1>
                <button @click="createI=true" class="btn_create col-md-2">{% trans 'Создать Акт на списание' %}</button>
            </div>
            <div class="col-12">
                <table class="responstable bag-table1" v-if="!statusInvoice">
                      <thead>
                        <th scope="col">#</th>
                        <th scope="col">{% trans 'Дата' %}</th>
                        <th scope="col">{% trans 'Номер' %}</th>
                        <th scope="col">{% trans 'Сумма' %}</th>
                        <th scope="col">{% trans 'Статус' %}</th>
                        <th scope="col">{% trans 'Выбрать' %}</th>
                        <th scope="col">{% trans 'Удалить' %}</th>
                        <th scope="col">{% trans 'Печать' %}</th>

                      </thead>
                      <tbody>
                        <tr v-for="(item, index) in invoices" :key='index'>
                            <td>{( index + 1 )}</td>
                            <td>{( item.date_write )}</td>
                            <td>{( item.id )}</td>
                            <td style="text-align: right">
                                {(item.sum)}
                            </td>
                            <td style="text-align: right" class="text-center">
                                <i v-if="item.status" aria-hidden="true" class="fa fa-check iconfa_check"></i>
                                <i v-else aria-hidden="true" class="fa fa-minus-circle iconfa_minus"></i>
                            </td>
                            <td is="Button" :getinvoice="GetInvoice" :item="item">

                            </td>
                            <td>
                                <button v-on:click="Deleted(item.id)" type="button" data-hover="tooltip" data-placement="bottom" class="m-auto btn_adds btn-fcon">
                                    <i aria-hidden="true" class="fa fa-trash-o"></i>
                                </button>
                            </td>
                            <td>
                                <button v-on:click="downloadPDF(item.id)" type="button" data-hover="tooltip" data-placement="bottom" class="m-auto btn_adds btn-fcon">
                                    <i aria-hidden="true" class="fa fa-print"></i>
                                </button>
                            </td>
                        </tr>
                      </tbody>
                </table>
                <p  v-if="!statusInvoice">{% trans 'Всего сумма:'%} {(Summs)} {% trans 'тенге' %}</p>
            </div>

            <div v-if="statusInvoice" class="pt-5 container-fluid">
                <div class="row">
                     <div class="col-12 text-left">
                         <h5>{% trans 'Накладная на списание товаров №' %}{(invoice.id)} {% trans 'от' %} {(invoice.date)} </h5>
                     </div>

                     <div class="col-2 pt-3 text-left">
                         <h5>{% trans 'Организация' %}</h5>
                     </div>
                     <div class="col-10 pt-3 text-left">
                         {(invoice.school)}
                     </div>


                    <div class="col-2 pt-3 text-left">
                         <h5>{% trans 'Номер счет фактуры:' %}</h5>
                    </div>
                    <div class="col-10 pt-3 text-left">
                        <input type="text" class="form-control"  @blur="EditNumberProviderFn2" v-on:keyup.enter="EditNumberProviderFn2" v-model="number" >
                        <p class="check_written" v-if="EditNumberProvider23 == 1" @click="EditNumberProvider23=0">{% trans 'Записалось'%}</p>
                        <p class="uncheck_written" v-else-if="EditNumberProvider23 == 2" @click="EditNumberProvider23=0">{% trans 'Не записалось'%}</p>
                    </div>

                    <div class="col-2 pt-3 text-left">
                         <h5>{% trans 'Номер доверенности:' %}</h5>
                    </div>
                    <div class="col-7 pt-3 text-left">
                            <input type="text" class="form-control" v-model="power_of_attorney" @blur="EditNumberProviderFn" v-on:keyup.enter="EditNumberProviderFn">
                            <p class="check_written" v-if="EditNumberProvider2 == 1" @click="EditNumberProvider2=0">{% trans 'Записалось'%}</p>
                            <p class="uncheck_written" v-else-if="EditNumberProvider2 == 2" @click="EditNumberProvider2=0">{% trans 'Не записалось'%}</p>
                    </div>

                    <div class="col-1 pt-3 text-center">
                         <h5>{% trans 'от' %}</h5>
                    </div>
                    <div class="col-2 pt-3 text-left">
                          <vuejs-datepicker :input-class="formStyle" :disabled-dates="disabledDates" :format="customFormatter" :value="formCreate.date_power_of_attorney" @closed="datepickerClosedFunction2" v-model="date_power_of_attorney" name="uniquename" :language="ru"></vuejs-datepicker>
                          <p class="check_written" v-if="datepickerClosed2 == 1" @click="datepickerClosed2=0">{% trans 'Записалось'%}</p>
                          <p class="uncheck_written" v-else-if="datepickerClosed2 == 2" @click="datepickerClosed2=0">{% trans 'Не записалось'%}</p>
                    </div>

                    <div class="col-2 pt-3 text-left">
                        <h5>{% trans 'Выданной:' %}</h5>
                    </div>
                    <div class="col-10 pt-3 text-left">
                         <multiselect
                              v-model="confidant"
                              :options="portfolios"
                              placeholder="{% trans 'ФИО' %}"
                              :show-labels="false"
                              label="name"
                              track-by="name"
                              :custom-label="nameWithLang"
                              @close="SendConfidant"
                         >
                         </multiselect>
                         <p class="check_written" v-if="sendsconfidant == 1" @click="sendsconfidant=0">{% trans 'Записалось'%}</p>
                         <p class="uncheck_written" v-else-if="sendsconfidant == 2" @click="sendsconfidant=0">{% trans 'Не записалось'%}</p>
                    </div>
                </div>
                <br>


                <div class="col-md-12" v-if="!addE || ready_s">
                    <div class="row">
                        <div class="col-1">
                            <button
                                v-if="!ready_s"
                                title="{% trans 'Добавить' %}"
                                type="button"
                                data-hover="tooltip"
                                data-placement="bottom"
                                class="btn_adds btn-fcon"
                                @click="load33(), addE=true"
                              >
                                  <i v-if="!loading3" class="fa" :class="{'fa-list': !addE, 'fa-minus-square': addE }" aria-hidden="true"></i>
                                  <i v-else="loading3" class="fa fa-circle-o-notch fa-spin"></i>
                              </button>
                        </div>
                        <div class="col-1">
                            <button
                              data-hover="tooltip"
                              data-placement="bottom"
                              class="btn_adds btn-fcon"
                              title="{% trans 'Готово' %}"
                              v-if="!loading"
                              @click="Ready()"
                            >
                                  <i v-if="!loading2" aria-hidden="true" class="fa" :class="{'fa-check': !ready_s, 'fa-pencil': ready_s}"></i>
                                  <i v-if="loading2" class="fa fa-circle-o-notch fa-spin"></i>
                            </button>
                        </div>
                        <div class="col-1">
                            <a
                                type="button"
                                data-hover="tooltip"
                                data-placement="bottom"
                                title="{% trans 'Назад' %}"
                                class="btn_adds btn-fcon"
                                href="{% url 'schol_library:hl_paper_invoice' %}"
                              >
                                <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>

                    <table class="responstable bag-table" id="table_id2">
                      <thead>
                        <th scope="col">#</th>
                        <th scope="col">{% trans 'Класс' %}</th>
                        <th scope="col">{% trans 'Учебная дисциплина' %}</th>
                        <th scope="col">{% trans 'Язык издания' %}</th>
                        <th scope="col">{% trans 'Наименование издания' %}</th>
                        <th scope="col">{% trans 'Количество' %}</th>
                        <th scope="col">{% trans 'Цена' %}</th>
                        <th scope="col">{% trans 'Сумма' %}</th>
                        <th scope="col" v-if="!ready_s">{% trans 'Добавить/Удалить' %}</th>
                      </thead>
                      <tbody>
                        <tr v-for="(datamodel, index) in editions_val">
                            <td scope="row" :class="{this_edit: datamodel.status2}">{( index + 1 )}</td>
                            <!--<td>{(datamodel.klass.slice(0, 7) )}</td>-->
                            <td>{(datamodel.edition.klass )}</td>
                            <td>{(datamodel.edition.subject )}</td>
                            <td>{(datamodel.edition.language )}</td>
                            <td class="row text-left">
                                {(datamodel.edition.name )} / {( datamodel.edition.metodology_complex )} / {( datamodel.edition.publish_date )}<br>
                                {(datamodel.edition.author)} / {(datamodel.edition.publisher)} / {(datamodel.edition.study_direction)} /{% trans 'ISBN' %}: {(datamodel.edition.isbn)}
                            </td>
                            <td class="row">
                                <p v-if="datamodel.sends == 1" @click="datamodel.sends=0">{% trans 'Записалось'%}</p>
                                <p v-else-if="datamodel.sends == 2" @click="datamodel.sends=0">{% trans 'Не записалось'%}</p>
                                <input type="number" class="form-control" min="1" v-model="datamodel.quantity" @blur="send(datamodel)" v-on:keyup.enter="send(datamodel)">
                            </td>

                            <td>
                                <p v-if="datamodel.sends_amount == 1" @click="datamodel.sends_amount=0">{% trans 'Записалось'%}</p>
                                <p v-else-if="datamodel.sends_amount == 2" @click="datamodel.sends_amount=0">{% trans 'Не записалось'%}</p>
                                <input type="number" class="form-control" min="1"  v-model="datamodel.amount" @blur="SendAmaunt(datamodel)" v-on:keyup.enter="SendAmaunt(datamodel)">
                            </td>
                            <td class="row">
                                {( datamodel.quantity * datamodel.amount  )}
                            </td>
                            <td v-if="!ready_s">
                                <button v-if="!datamodel.loading2" type="button" data-hover="tooltip" data-placement="bottom" class="btn_adds btn-fcon" @click="delEinvoice(datamodel)">
                                    <i aria-hidden="true" class="fa fa-trash-o"></i>
                                </button>
                                <i v-if="datamodel.loading2" class="fa fa-circle-o-notch fa-spin"></i>
                            </td>
                          </tr>
                      </tbody>
                    </table>
                      <p>{% trans 'Итого:'%} {(SummEditions.amount)} {% trans 'тенге' %}</p>
                      <p>{% trans 'Всего отпущено:'%} {(SummEditions.q_amount)} {% trans 'шт' %} {% trans 'на сумму:'%} {(SummEditions.amount)} {% trans 'тенге' %}</p>
                </div>


                <div class="col-md-12" v-if="addE && !invoice.status">
                    <div class="row">
                      <div class="col-1">
                        <multiselect
                          v-model="klass"
                          :options="klasses"
                          :custom-label="nameKlass"
                          placeholder="{% trans 'Класс' %}"
                          :show-labels="false"
                          label="name"
                          track-by="name"
                        ></multiselect>
                      </div>
                      <div class="col-2">
                        <multiselect
                            v-model="subject"
                            :options="subjects"
                            placeholder="{% trans 'Учебная дисциплина' %}"
                            :show-labels="false"
                            label="name"
                            track-by="name">
                        </multiselect>
                      </div>
                      <div class="col-3">
                        <multiselect
                          v-model="language"
                          :options="languages"
                          placeholder="{% trans 'Язык издания' %}"
                          :show-labels="false"
                          label="name"
                          track-by="name"
                        ></multiselect>
                      </div>
                      <div class="col-3">
                        <multiselect
                          v-model="edition"
                          :options="editionss"
                          placeholder="{% trans 'Наименование издания' %}"
                          :show-labels="false"
                          label="name"
                          track-by="name"
                        ></multiselect>
                      </div>
                      <div class="col-md-2 d-flex justify-content-end">
                          <a
                            type="button"
                            data-hover="tooltip"
                            data-placement="bottom"
                            title="{% trans 'Назад' %}"
                            class="btn_adds btn-fcon"
                            href="{% url 'schol_library:hl_paper_invoice' %}"
                          >
                            <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
                          </a>

                          <button
                            title="{% trans 'Мой список' %}"
                            type="button"
                            data-hover="tooltip"
                            data-placement="bottom"
                            class="btn_adds btn-fcon"
                            @click="load33(), addE=false"

                          >
                              <i v-if="!loading3" class="fa" :class="{'fa-list': !addE, 'fa-minus-square': addE }" aria-hidden="true"></i>
                              <i v-else="loading3" class="fa fa-circle-o-notch fa-spin"></i>
                          </button>

                          <button
                                  data-hover="tooltip"
                                  data-placement="bottom"
                                  class="btn_adds btn-fcon"
                                  title="{% trans 'Готово' %}"
                                  v-if="!loading"
                                  @click="Ready()">
                              <i v-if="!loading2" aria-hidden="true" class="fa" :class="{'fa-check': !invoice.status, 'fa-pencil': invoice.status}"></i>
                              <i v-if="loading2" class="fa fa-circle-o-notch fa-spin"></i>
                          </button>
                      </div>


                      <div class="col-12 pt-5" v-if="addE">
                        <table class="responstable bag-table" id="table_id">
                          <thead>
                            <th scope="col">#</th>
                            <th scope="col">{% trans 'Класс' %}</th>
                            <th scope="col">{% trans 'Учебная дисциплина' %}</th>
                            <th scope="col">{% trans 'Язык издания' %}</th>
                            <th scope="col">{% trans 'Наименование издания' %}</th>
                            <th scope="col">{% trans 'Количество' %}</th>
                            <th scope="col">{% trans 'Цена' %}</th>
                            <th scope="col">{% trans 'Сумма' %}</th>
                            <th scope="col" v-if="!ready_s">{% trans 'Добавить/Удалить' %}</th>
                          </thead>
                          <tbody>
                            <tr
                              is="EditionsList"
                              v-for="(item, index) in filterEditions2"
                              :index="index"
                              :key="index"
                              :datamodel="item"
                              :invoice="invoice"
                              :loading3="loading3"
                              :editions_val="editionsVal2"
                            ></tr>
                          </tbody>
                        </table>
                          <p>{% trans 'Итого:'%} {(SummEditions.amount)} {% trans 'тенге' %}</p>
                          <p>{% trans 'Всего отпущено:'%} {(SummEditions.q_amount)} {% trans 'шт' %} {% trans 'на сумму:'%} {(SummEditions.amount)} {% trans 'тенге' %}</p>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/x-template" id="button_g">
<td>
    <button
        type="button"
        data-hover="tooltip"
        data-placement="bottom"
        title="{% trans 'Редактирование' %}"
        class="btn_adds btn-fcon m-auto"
        id="giveInvoice"
        @click="getinvoice(item.id), loading=true"
        v-if="!loading"
      >
        <i aria-hidden="true" class="fa fa-pencil"></i>
    </button>
    <button
        class="btn_adds btn-fcon"
        data-hover="tooltip"
        data-placement="bottom"
        title="{% trans 'Завершается'%}"
        v-if="loading"
    >
        <i class="fa fa-circle-o-notch fa-spin"></i>
      </button>
</td>
</script>

{# Компонент книг #}
<script type="text/x-template" id="editions-list">
  <tr :class="{'td_background': datamodel.style}">
    <td scope="row">{( index + 1 )}
        <!--{(datamodel.idx)} - {(datamodel.id)}-->
    </td>
    <!--<td>{(datamodel.klass.slice(0, 7) )}</td>-->
    <td>{(datamodel.klass )}</td>
    <td>{(datamodel.subject )}</td>
    <td>{(datamodel.language )}</td>
    <td class="row text-left">
        {(datamodel.name )} / {( datamodel.metodology_complex )} / {( datamodel.publish_date )}<br>
        {(datamodel.author)} / {(datamodel.publisher)} / {(datamodel.study_direction)} /{% trans 'ISBN' %}: {(datamodel.isbn)}
    </td>
    <td class="row" v-if="!ready_s && !datamodel.style">
        <input type="number" class="form-control"  class="{'is-invalid': datamodel.quantity < 0 || !datamodel.quantity}" min="1" v-model="datamodel.quantity">
    </td>
    <td v-else>
        {(datamodel.quantity)}
    </td>
    <td class="row" v-if="!ready_s && !datamodel.style">
        <input type="number" class="form-control" min="1" class="{'is-invalid': datamodel.amount < 0 || !datamodel.amount}"  v-model="datamodel.amount">
    </td>
    <td v-else>
        {(datamodel.amount)}
    </td>
    <td class="row">
        {( sums )}
    </td>
    <td class="row" v-if="!ready_s">
        <button v-if="delStatus(datamodel.idx) && !loading2  && !datamodel.style" type="button" data-hover="tooltip" data-placement="bottom" class="btn_adds btn-fcon" @click="delEinvoice(datamodel.idx)">
            <i aria-hidden="true" class="fa fa-trash-o"></i>
        </button>
        <button v-if="!delStatus(datamodel.idx) && !loading2  && !datamodel.style" type="button" data-hover="tooltip" data-placement="bottom" class="btn_adds btn-fcon" @click="addEdition(datamodel)">
            <i aria-hidden="true" class="fa fa-plus-square"></i>
        </button>
        <i v-if="loading2" class="fa fa-circle-o-notch fa-spin"></i>
    </td>
  </tr>
</script>
{# конец Компонент книг #}
{% endblock %}
{% block scripts %}
<script src="https://unpkg.com/vuejs-datepicker"></script>
<script src="https://unpkg.com/vuejs-datepicker/dist/locale/translations/ru.js"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'my_js/head_librarian/billing_invoice.js' %}"></script>
{% endblock %}
