{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap %}
{% load static %}
{% if request.user.is_authenticated %}

{% block content %}
<div id="token" data-token="{{ user.auth_token }}"></div>
<div id="appBoock">
 <nav aria-label="breadcrumb" class="bread-nav">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home:index' %}">{% trans 'Рабочий стол' %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% trans 'Постановка на учет УМК' %}</li>
    <li class="breadcrumb-item active" aria-current="page">{% if request.user.libraryuser.school %} {{ request.user.libraryuser.school }} {% else %} {% trans 'Не найдено место работы' %} {% endif %}</li>
  </ol>
     <div class="alert alert-success" v-if="warning">
      <strong>{% trans 'У вас нет доступа на запись' %}</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" @click="warning=false">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="alert alert-success" v-if="!warning">
      <strong>{% trans 'В работе' %}</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" @click="warning=false">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
     <div class="alert alert-success" v-if="sucsess">
      <strong>{( time )} {% trans 'Успешно сохранено' %}</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" @click="sucsess=false">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="alert alert-danger" v-if="danger">
      <strong>{( time )} {% trans 'Для сохранения нужно заполнить оба поля! Например: одно поле 5  другое 0' %}</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" @click="danger=false">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </nav>
 <div id="before-load" v-if="!not">
        <i class="fa fa-spinner fa-spin"></i>
    </div>
 <div class="container-fluid">
    <div class="row search-block" v-if="boocks.length >= 1" id="navigation">
{#        <div class="col-12 titles-main"><h1>{% trans 'Поиск по каталогу' %}</h1></div>#}
        <div class="col-12 row" style="align-items: flex-end;">
            <div class="col-2">
              <multiselect v-model="klass" :custom-label="nameKlass" :options="klasss"  placeholder="{% trans 'Класс' %}" :show-labels="false"  label="name" track-by="name"></multiselect>
            </div>
            <div class="col-2">
              <multiselect v-model="subject" :options="subjects"  placeholder="{% trans 'Учебная дисциплина' %}" :show-labels="false"  label="name" track-by="name"></multiselect>
            </div>
            <div class="col-2" style="max-width: 13%;">
              <multiselect v-model="language" :options="languages"  placeholder="{% trans 'Язык издания' %}" :show-labels="false" label="name" track-by="name"></multiselect>
            </div>
            <div class="col-2">
              <multiselect v-model="metodology_complex" :options="metodology_complexs"  placeholder="{% trans 'УМК' %}" :show-labels="false"  label="name" track-by="name"></multiselect>
            </div>
            <div class="col-3" style="max-width: 19%;">
              <multiselect v-model="study_direction" :options="study_directions"  placeholder="{% trans 'Направление обучения' %}" :show-labels="false"  label="name" track-by="name"></multiselect>
            </div>
            <div class="col-1"></div>
            <div class="col-3">
                <multiselect v-model="name" :options="boocks"  placeholder="{% trans 'Наименование издания' %}" :show-labels="false"  label="name" track-by="name"></multiselect>
            </div>
            <div class="col-3">
                <multiselect v-model="publisher" :options="publishers"  placeholder="{% trans 'Издательство' %}" :show-labels="false"  label="name" track-by="name"></multiselect>
            </div>
            <div class="col-3">
                <multiselect v-model="author" :options="authors"  placeholder="{% trans 'Автор' %}" :show-labels="false"  label="name" track-by="name"></multiselect>
            </div>
             <div class="col-2 mt-2">
                <multiselect v-model="publish_date" :options="years"  placeholder="{% trans 'Год издания' %}" :show-labels="false"  label="year" track-by="year"></multiselect>
            </div>
            <div class="cols-rightside">
                <button data-hover="tooltip" data-placement="bottom" title="{% trans 'Очистить фильтр' %}" v-if="boocks.length >= 1" type="submit" class="btn_adds btn-fcon mb-1" v-on:click="cLear()"><i class="fa fa-filter" aria-hidden="true" style="color: #fd4c22"></i></button>
            </div>
        </div>
    </div>
    <div v-if="boocks.length >= 1">
        <table v-if="boocks.length >= 1" class="responstable" id="table_id">
            <thead class="size-cols">
              <th scope="col">#</th>
              <th scope="col">{% trans 'Класс' %}</th>
              <th scope="col">{% trans 'Учебная дисциплина' %}</th>
              <th scope="col">{% trans 'Наименование издания' %}</th>
              <th scope="col">{% trans 'На складе' %}</th>
              <th scope="col">{% trans 'Сумаа' %}</th>
              <th scope="col">{% trans 'Язык издания' %}</th>
              <th scope="col">{% trans 'Добавить' %}</th>
              <!--<th scope="col">{% trans 'Серия Год' %}</th>-->
            </thead>

            <tbody>

              <tr
                is="form-boocks"
                v-for='(item, index) in filterNames'
                :index="index"
                :key="index"
                :datamodel="item"
                :ttt="ttt"
                :sucsess="sucsess"
                :warning2="warning"
                :add="aAdd"
              >
              </tr>
            </tbody>
        </table>

    </div>
    <div v-else class="pt-5 pb-5">
        <div class="container" style="width: 40%; text-align: center; color: white;">
            <h2 style="color: black" v-else>{% trans 'УМК Пуста. Возможно вы заполнили перейдите по ссылке ниже' %}
                <a href="{% url 'schol_library:hl_edit_books' %}">{% trans "Редактирование  Реестр УМК" %} <i class="fa fa-arrow-right"></i></a>
            </h2>
        </div>
    </div>
     <div id="before-load" v-if="!not">
        <i class="fa fa-spinner fa-spin"></i>
    </div>
</div>
</div>

<script type="text/x-template" id="form-boocks">
<tr class="size-cols">
  <td scope="row">{( index + 1 )}</td>
  <td>{(datamodel.klass.slice(0,7) )}</td>
  <td>{(datamodel.subject )}</td>
  <td>
      {(datamodel.name )} / {( datamodel.metodology_complex )} / {( datamodel.publish_date )}<br>
      {(datamodel.author)} / {(datamodel.publisher)} / {(datamodel.study_direction)} / {% trans 'ISBN' %}: {(datamodel.isbn)}
      {(datamodel.id)}
  </td>
  <td>
      <input name="in_warehouse" type="number" min="0" v-model="datamodel.in_warehouse">
  </td>
  <td>
     <input v-model="datamodel.summ" type="number" name="summ" min="0" >
  </td>
  <td>{(datamodel.language )}</td>
  <td><button type="button" class="btn btn-primary" v-if="datamodel.in_warehouse && datamodel.summ" @click="add(datamodel)">+</button></td>
  <!--<td>{(datamodel.series_by_year )}/{(datamodel.publish_date )}</td>-->
</tr>
</script>
{% endblock %}
{% block scripts %}
{#  editions_list  #}
<script>
 function show_popup() {
      $('#table_id').DataTable({
        paging: false,
        language: {url: 'https://cdn.datatables.net/plug-ins/1.10.19/i18n/Russian.json'}, //русский
         dom: 'Bfrtip',
         buttons: [  /// Вот это массив кнопок
         {
         extend: 'print',
         text: '<i class="fa fa-print"></i> Печать',
         title: '{% trans 'Постановка на учет УМК' %}:{{ request.user.libraryuser.school.name }}'
         },

         {
         extend: 'excel',
         text: '<i class="fa fa-file-excel-o"></i> Экспорт в Excel',
         title: '{% trans 'Постановка на учет УМК' %}:{{ request.user.libraryuser.school.name }}'
         },

         {
         extend: 'colvis',
         text: '<i class="fa fa-eye"></i> Видимость колонок',
         title: '{% trans 'Постановка на учет УМК' %}:{{ request.user.libraryuser.school.name }}'
         },

         ],
         responsive: true, // сделать удобной для мобильного просмотра
         columnDefs: [{targets: 0,}],

      })
    };
</script>
<script src="{% static 'my_js/head_librarian/head_librarian3.js' %}"></script>
{% endblock %}
 {% endif %}



