{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% if request.user.is_authenticated %}
{% block content %}
<div id="token" data-token="{{ user.auth_token }}"></div>
<div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home:index' %}">{% trans 'Рабочий стол' %}</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="{% url 'schol_library:hl_planned_title_create' %}">{% trans 'Создание планового титула школы ' %}: {% if request.user.libraryuser.school %} {{ request.user.libraryuser.school }} {% else %} {% trans 'Не найдено место работы' %} {% endif %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ year }}</li>
      </ol>
    </nav>
</div>
<div class="container-fluid">
    <div class="row">
        {% if len >= 1 %}
        <div class="col-2 pt-3 year-btn my_year">
                <a href="{% url 'schol_library:hl_planned_title_create' %}" style="margin-bottom: 10px;">Назад</a>
                <p>Переход по годам</p>
            {% for year in years %}

                <div>
                    <a href="{% url 'schol_library:hl_planned_list' year.pk %}">{{ year }}</a>
                </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="col-10 pt-5">
            <table class="responstable" id="table_id">
                <thead>
                  <th scope="col">#</th>
                  <th scope="col">{% trans 'Класс' %}</th>
                  <th scope="col">{% trans 'Язык' %}</th>
                  <th scope="col">{% trans 'Литер' %}</th>
                  <th scope="col">{% trans 'Базовое количество' %}</th>
                  <th scope="col">{% trans 'Плановое количество' %}</th>
                  <th scope="col">{% trans '% Увеличения' %}</th>
                </thead>
                <tbody>
                    {% for datamodel in tituls %}
                    <tr>
                      <td scope="row">{{ forloop.counter }}</td>
                        {% load class_len %}
                      <td>{{datamodel.klass|class_len }}</td>
                       <td>{{datamodel.language }}</td>
                      {% if datamodel.klass.id > 1 %}
                      <td>{{datamodel.liter.name }}</td>
                      {%else %}
                      <td>{% trans 'нет данныех' %}</td>
                      {% endif %}
                      <td>{{ datamodel.students }}</td>
                      <td>{{ datamodel.planned_quantity }}</td>
                      {% if datamodel.students == 0 %}
                      <td>100%</td>
                       {% else %}
                      <td>{% calculation datamodel.students datamodel.planned_quantity %}%</td>
                      {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>



{% endblock %}
{% endif %}
{% block scripts %}
    <script>
var myTable;
$(document).ready( function () {
    myTable =  $('#table_id').DataTable({
        paging: false,
        language: {url: 'https://cdn.datatables.net/plug-ins/1.10.19/i18n/Russian.json'}, //русский
         dom: 'Bfrtip',
         buttons: [  /// Вот это массив кнопок
         {
         extend: 'print',
         text: '<i class="fa fa-print"></i> Печать',
         title: '{% trans 'Плановый Титульный список школы' %}:{{ request.user.libraryuser.school.name }}'
         },

         {
         extend: 'excel',
         text: '<i class="fa fa-file-excel-o"></i> Экспорт в Excel',
         title: '{% trans 'Плановый Титульный список школы' %}:{{ request.user.libraryuser.school.name }}'
         },

         {
         extend: 'colvis',
         text: '<i class="fa fa-eye"></i> Видимость колонок',
         title: '{% trans 'Плановый Титульный список школы' %}:{{ request.user.libraryuser.school.name }}'
         },

         ],
         responsive: true, // сделать удобной для мобильного просмотра
         columnDefs: [{targets: 0,}],
    }
)});


$(document).ready(function(){
    var link = window.location.pathname;
    $('.my_year div a[href="'+link+'"]').parent().addClass('active');
});

</script>
{% endblock %}